<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>CodingLabs - About me</title>
        <link rel="stylesheet" href="{{mycss}}"/>
        <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F75dfda8ff8a93fa0b94adeb17da37a2f' type='text/javascript'%3E%3C/script%3E"));
</script>

</head>
    <body onload="prettyPrint()" style="font-family:verdana">
    <div id="header">
        <div id="header-inner">
            <div id="title"><h3><a href="/up">Mr. Taylor</a></h3></div>
            <div id="subtitle">Test page for file transportation</div>
        </div>
    </div>

<div id="main">
    <div id="lookup_hash">
        <h3>没有找到需要的文件？在下面输入hash，即可下载</h3>
        <form action="/file_get_by_hash" method="get">
            <input type='text' name='upfilehash' value='输入Hash' /><br>    
            <input type="submit" value='submit'>
        </form>
    </div>
    <div id="main-inner">
    
 <div id="page-content">
     <h2 id="自我介绍">下载一个试试看？</h2>
    <ul>
        {% for file in fl%}
        <li><a href="/downloadfile?filename={{file}}">  {{file}} </a> </li>
        {% endfor %}
    </ul>
 </div>

</div>

</div>



    </body>

</html>