<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>CodingLabs - About me</title>
        <link rel="stylesheet" href="my.css"/>
        <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F75dfda8ff8a93fa0b94adeb17da37a2f' type='text/javascript'%3E%3C/script%3E"));
</script>

</head>
    <body onload="prettyPrint()" style="font-family:verdana">
    <div id="header">
        <div id="header-inner">
            <div id="title"><a href="/up">Mr. Taylor</a></div>
            <div id="subtitle">Test page for file transportation</div>
        </div>
    </div>

<div id="main">
    <div id="main-inner">
        <div id="topnav">
            <ul>
                <li><a href="/">首页</a></li>
                
                <li class="sep"> | </li>
                <li><a href="/" target="_self">关于我</a></li>
                <li class="sep"> | </li>
                <li><a href="https://github.com/zhaozhengcoder" target="_self">Github</a></li>
                <li class="sep"> | </li>
                <li><a href="http://www.jianshu.com/u/8530ab416e50" target="_blank">博客</a></li>
                 <li class="sep"> | </li>
                <li><a href="./upload.html" target="_blank">上传一个文件给我</a></li>
                <li class="sep"> | </li>
                <li><a href="./todosomething.html" target="_blank">还没想好弄点什么</a></li>
            </ul>
        <div style="clear:both;"></div>
    </div>

    <h1>About me</h1>
    <div id="page-content"><h2 id="自我介绍">自我介绍</h2>
    <ul>
    <li>本名赵政，在山西省出生和长大。</li>
    <li>小时候的理想是成为一名数学家或物理学家，再后来的理想是成为一名足球运动员，现均已破灭。</li>
    <li>本科就读于江苏大学，本科毕业之后，来到同济大学读研。目前研究生就读中。</li>
    <li>我非常喜欢写代码这个事情，同时也很喜欢数学，尽管我对数学并不精通。</li>
    <li>下一步打算拿出一段时间学习和研究一下算法，希望在研究生毕业之前，能够对算法有更加深入的了解。</li>
    <li>我是半个锤粉，但是并没有买锤子手机，是因为它并没有做的很好。做好以后，可能会买。</li>
    <li>我不相信中医和星座。</li>
    <li>我希望世界和平，不要断电，断网，这样就可以安静的看书和写代码。</li>
    </ul>
    <h2 id="我的项目">我的项目</h2>
    <ul>
    <li><a href="/">to-do</a>：to-do</li>
    <li><a href="/">to-do</a>：to-do</li>
    <li><a href="/">to-do</a>：to-do</li>
    <li><a href="/">to-do</a>：to-do</li>
    <li><a href="/">to-do</a>：to-do</li>
    <li><a href="/">to-do</a>：to-do</li>
    </ul>
    <h2 id="联系方式">联系方式</h2>
    <ul>
    <li>代码在<a href="https://github.com/zhaozhengcoder">github</a></li>
    <li>扯淡在<a href="http://weibo.com/2589329467/">新浪微博</a></li>
    <li>博客在<a href="http://www.jianshu.com/u/8530ab416e50">简书</a></li>
    </ul>
    </div>
    </div>
</div>
        <div id="footer">
            <div id="footer-inner">
                <p id="copyright">Copyright (c) </p>
            </div>
        </div>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                    processEscapes: true
                }
            });
        </script>
    </body>
</html>

