<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>CodingLabs - About me</title>
        <link rel="stylesheet" href="my.css"/>
        <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F75dfda8ff8a93fa0b94adeb17da37a2f' type='text/javascript'%3E%3C/script%3E"));
</script>

</head>
    <body onload="prettyPrint()" style="font-family:verdana">
    <div id="header">
        <div id="header-inner">
            <div id="title"><a href="/up">Mr. Taylor</a></div>
            <div id="subtitle">Test page for file transportation</div>
        </div>
    </div>

<div id="main">
    <div id="main-inner">

    <h1>你有什么好主意？</h1>
        <form action="http://localhost:5000/dosomething" method="post">
            <input style='width:450px' type='text' name='user' value='你是谁？'> <br>
            <input style="width:450px" type="text"  name="dosomething" value='做点什么?'><br>
            <input type="submit" value='submit'>
        </form>
    </body>

</html>